.btn{
   background-color: transparent;
   color: rgb(53, 209, 14);
    cursor: pointer;
  border-radius: 10000px;
   border: none;
  padding: 12px 24px;
  border-radius: 8px;
}
.gradient-btn{
    background: linear-gradient(45deg, #ff4ecd, #7f00ff);
     color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 10000px;

}
.navbar {
    max-width: 97.2%;
    margin: auto;
    padding: 28px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 4, 90, 0.616);
    display: flex;
    width: 2200px;
    color: white;
   

}
nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.tech1{
    color: linear-gradient(45deg, #ff4ecd, #7f00ff);
    font-weight: bold;
    font-size: xx-large;
    font-style: normal;
}
.tech{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    font-style: normal;
}


.font-oswald  {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner{
    background-image:url('/assets/hero-bg02.png');
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-size: cover;
background-position:center;
max-width: 100%;
}
.hero-circle{
    align-items: center;
  
    width: 350px;
}
.hero-content h1{
    margin-bottom: 12px;

}
}
.hero-content p{
    max width: 16px;
    margin-bottom: 20px;

}
.about-container{
    flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 80px 200px 200px 200px;
background-color: rgb(8, 8, 105);
color: white;
}
.about-container h2{
align-items: center;
justify-content: center;
}

.card-container{
  
    display: grid;
}


.footer-social{

    align-items: center;
    padding-left: 300px;
    padding-right: 30000px;
  justify-content: flex-start;
text-align: center;
display: inline;



}

.footer{
    background-image: url('/assets/footer-bg.png');
    color: white;
    font-style: normal;
    
}
.footer-copy{
    align-items: center;
     justify-content: center;
        text-align: center;
        padding: 80px 80px 80px 80px;
        justify-content: flex-start;
}