.btn{
    color: color-mix(in srgb, color percentage, color percentage);
}
.gradient-btn{
    background: linear-gradient(45deg, #ff4ecd, #7f00ff);
     color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.navbar {
    max-width: 1140px;
    margin: auto;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.span{
    background: linear-gradient(45deg, #ff4ecd, #7f00ff);
}